.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear 500ms;
}

/* enter */
.fade-enter {
  opacity: 0;
  
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 500ms;
}
.loading .loading-shimmer {
    
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
}
.noanime{

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

}
